{% extends "base.html" %}
{% block banner %}
    <header id="banner" class="body">
    <img class="article-img" alt="profile" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/portland-edited.jpg" height=250px />
    <h1 class="article-header">{{ SITETITLE }}</h1>
    <nav id="menu" class="article-nav"><ul>
{% endblock %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block menu %}
  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in pages|sort(attribute='sortorder') %}
      <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
    {% endfor %}
  {% else %}
    {% if DISPLAY_CATEGORIES_ON_MENU %}
      {% for cat, null in categories %}
        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
    {% endif %}
  {% endif %}
  {% for title, link in MENUITEMS %}
      <li class="active"><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
{%endblock%}

{% block content %}
<section id="content" class="body">
  <h2 class="entry-title">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
       title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
  <footer class="post-info">
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
	{% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
	{% endif %}
  </footer><!-- /.post-info -->
</section>
{% endblock %}
