<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link href="http://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/gazlene.css" rel="stylesheet" type="text/css" />
        <link href="{{ SITEURL }}/favicon.ico" rel="shortcut icon" />
        {% endblock head %}
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <img alt="profile" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/portland-edited.jpg" height=450px width=100% />
                <h1>{{ SITETITLE }}</h1>
        <nav id="menu"><ul>
        {% block menu %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages|sort(attribute='sortorder') %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% else %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        {% endif %}
        {% for title, link in MENUITEMS %}
            <li{% if output_file == 'archives.html' %} class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        {% endblock %}
        </ul></nav><!-- /#menu -->
        </header><!-- /#banner -->
        <main>
        {% block content %}
        {% endblock %}
        </main>
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Copyright &copy; 2016 Colleen Murphy
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>
