header {
  background-color: #111;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 60pt;
}

.article-img {
  float: left;
  padding: 20px;
}

.article-header {
  font-size: 45pt;
  text-align: left;
  padding: 20px;
}

h2.entry-title {
  font-size: 30pt;
}

nav {
  font-size: 3em;
}

.article-nav {
  font-size: 3em;
  text-align: left;
}

nav li {
  list-style-type: none;
  display: inline;
}

nav li.active a {
  color: #aaa;
}

nav li a {
  color: #5A0F4E;
}

a {
  color: #964B8A;
}

a:hover {
  color: #964B8A;
}

main {
  width: 50%;
  margin: auto;
}

footer {
  text-align: center;
}

div.note {
  background-color: #ddd;
  padding: 4px;
  border: 1px solid #aaa;
  margin: 4px 30px 10px 10px;
}

p.admonition-title {
  display: none;
}
