header {
  background-color: #111;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 60pt;
}

h2.entry-title {
  font-size: 30pt;
}

nav {
  font-size: 3em;
}

nav li {
  list-style-type: none;
  display: inline;
}

nav li.active a {
  color: #aaa;
}

a {
  color: #5A0F4E;
}

a:hover {
  color: #964B8A;
}

main {
  width: 50%;
  margin: auto;
}

footer {
  text-align: center;
}
